{% extends "base.html" %}
{% load mathfilters %}
{% load static %}
{% block title %}アイデア詳細{% endblock title %}

{% block content %}



<style>
  
  a {
    color: #5A2F63;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
  }
  
  a:hover {
    color: #5A2F63;
  }
  
  

h4 {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
  }

.idea_title{

  color: #000000;
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 22px;

}

.btn-primary, .btn-primary:hover, .btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary:disabled, .btn-primary.disabled {
    background-color:#007A5A;
    border-color:#007A5A;
    font-weight: 800;
    border: 5px solid transparent;
    border-radius: 1.0rem;
  }

img.content1{
  position: relative;
  max-width: 100%;
  
}


.top-line{
    color: #fff!important;
    padding: .25rem!important;
    margin-bottom: .25rem!important;
    background-color:#5A2F63;

}
  </style>

<div style="margin-top: 120px;"></div>
    <div class="top-line">　{{ post.user.profile.full_name }}さんのビジネスアイデア</div>
    <div style="margin-top: 30px;"></div>

    <script>
        window.addEventListener('online', event => {
  result.innerHTML = 'オンライン';
})

window.addEventListener('offline', event => {
  result.innerHTML = 'オフライン';
})

    </script>

    <p>
    {% if post.user.profile.image %}
    <a href="{% url 'stokee:profile_detail' user_id=post.user.username %}"><img src="{{ MEDIA_URL }}{{ post.user.profile.image }}" class="user-icon mr-4 border rounded-circle content1" width="60px" height="60px"></a>
    
    {% else %}
    <a href="{% url 'stokee:profile_detail' user_id=post.user.username %}"><img src="{% static 'stokee/media/images/user_image/profile.png' %}" class="user-icon mr-4 border rounded-circle content1" width="60px" height="60px"></a>
    {% endif %}
    
    </p>    
    <h5>{{ post.user.profile.full_name }}</h5>
    <p><small>{{ post.user.profile.company }} / {{ post.user.profile.position }}</small></p>

    <hr>



    <div style = "margin-top:60px ;"></div>
    
    <div class="title">
    <h4 class="text-center">{{ post.title }}</h4>
  </div>
    
    <div style = "margin-top:60px ;"></div>
    
    
    <hr>


<div style="text-align: right;"><h2>{{ post.price }}円</h2></div>

<p><a href="{% url 'stokee:like' post.id %}">いいね！</a>（{{ post.like_num }}）　コメント({{ post.comment_num }})</p>

<div style = "margin-bottom:60px ;"></div>




<!-- 
<a href="javascript:void(0)" id="{{ post.id }}" class="like"
 name="{{ post.id }}" type="button">いいね ({{ post.like_num }})</a>

JQuery
<script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>

<script type="text/javascript">
//Ajaxによる処理を記入する前に、以下のおまじない

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    
    //いいねボタンが押されたら非同期通信を行う
    $('like').on('click', function () {
        var post_id = $(this).attr('name')
        $.ajax({
            type: 'POST',
            url:  post_id + '/like/',
            data: {
                'id': post_id
            },
            dataType: 'json'
        })
        .done(function (data) {
    //post.pyからpost_id, is_likeをjson型のデータで受け取る
    //'#post_' + String(data['post_id'])で記事それぞれのidを指定する
            $('#post_' + String(data['post_id'])).text('いいね' + '(' + String(data['is_like']) + ')');
        })
        .fail(function(){

        })
    });

</script>

 -->

 <p style="text-align: center;">---------この続きをみるには---------</p>

<form action="{% url 'stokee:buy_post_detail' post_id=post.id %}" method="post">
  {% csrf_token %}
<p style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
  {{ post.price }}円でアイデアを開封する
  </button>
</p>

<p style="text-align: center;">または <a href="#">他の人にシェア</a>する</p>



<!-- モーダル　開始 -->
  
  <div class="modal fade" id="modal1" tabindex="-1"
        role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="label1">こちらのアイデアを購入しますか？</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">



        <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <section>
    
         <div class="product">
            <div class="description">
                <div class="idea_title" style="text-align: center;">{{ post.title }}</h5></div>
                <div style = "margin-bottom:30px ;"></div>
                <p style="text-align: center;">{{ post.user.profile.full_name }}さんのアイデアを読むには、<br>
                {{ post.price }}円支払う必要があります。</p>
            
                </div>
            </div>
        </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <button type="button" id="checkout-button" class="btn btn-primary" >支払いに進む</button>

           <!-- 以下決済のためのJavaScript -->
            <script type="text/javascript">
            // ビュー関数checkoutから渡されたjsonを読み込む
            const data = JSON.parse('{{ data_json|safe }}');
            // jsonから取り出した公開鍵（publishable_key）を使ってStripeインスタンスを作成
             var stripe = Stripe(data.publishable_key);
            // html部分の"checkout-button"というIDのボタン（「この商品を購入」）を取り出す
            var checkoutButton = document.getElementById("checkout-button");

            // ボタンが押された際の処理
            

            checkoutButton.addEventListener("click", function () {

                console.log('{{data_json}}');　
                const id = document.location.href.split("/").slice(-1).toString()
            fetch("/stokee/create_checkout_session/" + id, {
            method: "POST",
            headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json; charset=UTF-8',
                    'X-CSRFToken': '{{ csrf_token }}'
                    },
                })
                .then(function (response) {
                if(response.status !== 200){
                    console.error("Error status --> ", response.status);
                    console.error("404とかだとネットにつながってないかもよ")
                    return;
                  }
                  return response.json();
                })
                .then(function (session) {
                  if("error" in session){
                    console.log("Interna Server Error : ", session.error)
                    return
                  }
                  console.log(session.id);
                  return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                // エラー発生時
                if (result.error) {
                    alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                    });
                });
            </script>
            

        </div>
      </div>
    </div>
  </div>

  <div style = "margin-bottom:120px ;"></div>
<a href="{% url 'stokee:post_list' %}?page={{ page }}">← 一覧ページに戻る</a>　

<div style = "margin-bottom:120px ;"></div>
{% endblock %}


